<form method="POST" action="/new">
  <label for="text">Message</label>
  <input type="text" name="text" />
  <label for="user">Your name</label>
  <input type="text" name="user" />
  <button>Submit</button>
</form>
<a href="/">
  <button>Homepage</button>
</a>
